{{/* 不蒜子访问统计（免费、无需注册，加载一次就自动统计 PV/UV） */}}
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>

{{- $headerSearch := resources.Get "js/header-search.js" | js.Build (dict "params" (dict "fuseOpts" site.Params.fuseOpts)) | resources.Minify -}}
{{- $fusejs := resources.Get "js/fuse.basic.min.js" -}}
{{- if not site.Params.assets.disableFingerprinting -}}
{{- $searchBundle := (slice $fusejs $headerSearch) | resources.Concat "assets/js/header-search-bundle.js" | fingerprint -}}
<script defer crossorigin="anonymous" src="{{ $searchBundle.RelPermalink }}" integrity="{{ $searchBundle.Data.Integrity }}"></script>
{{- else -}}
{{- $searchBundle := (slice $fusejs $headerSearch) | resources.Concat "assets/js/header-search-bundle.js" -}}
<script defer crossorigin="anonymous" src="{{ $searchBundle.RelPermalink }}"></script>
{{- end -}}

{{- $menuJs := resources.Get "js/menu.js" | js.Build | resources.Minify -}}
{{- if not site.Params.assets.disableFingerprinting -}}
{{- $menuJs = $menuJs | fingerprint -}}
<script defer crossorigin="anonymous" src="{{ $menuJs.RelPermalink }}" integrity="{{ $menuJs.Data.Integrity }}"></script>
{{- else -}}
<script defer crossorigin="anonymous" src="{{ $menuJs.RelPermalink }}"></script>
{{- end -}}

{{- if and (eq .Kind "page") (eq .Section "posts") -}}
{{- $seriesDrawer := resources.Get "js/series-drawer.js" | js.Build | resources.Minify -}}
{{- if not site.Params.assets.disableFingerprinting -}}
{{- $seriesDrawer = $seriesDrawer | fingerprint -}}
<script defer crossorigin="anonymous" src="{{ $seriesDrawer.RelPermalink }}" integrity="{{ $seriesDrawer.Data.Integrity }}"></script>
{{- else -}}
<script defer crossorigin="anonymous" src="{{ $seriesDrawer.RelPermalink }}"></script>
{{- end -}}
{{- $tocSpy := resources.Get "js/toc-scroll-spy.js" | js.Build | resources.Minify -}}
{{- if not site.Params.assets.disableFingerprinting -}}
{{- $tocSpy = $tocSpy | fingerprint -}}
<script defer crossorigin="anonymous" src="{{ $tocSpy.RelPermalink }}" integrity="{{ $tocSpy.Data.Integrity }}"></script>
{{- else -}}
<script defer crossorigin="anonymous" src="{{ $tocSpy.RelPermalink }}"></script>
{{- end -}}
{{- end -}}
