{{- $scratch := newScratch }}

{{- if not .Date.IsZero -}}
    {{- $dateFormat := default "2006-01-02" site.Params.DateFormat }}
    {{- $scratch.Add "meta" (slice (printf "<span title='%s'>%s</span>" (.Date) (.Date | time.Format $dateFormat))) }}
    {{- $updated := .Lastmod }}
    {{- if and (not $updated.IsZero) (gt $updated .Date) (ne ($updated.Format "2006-01-02") (.Date.Format "2006-01-02")) }}
        {{- $scratch.Add "meta" (slice (printf "<span title='%s'>更新于 %s</span>" $updated ($updated | time.Format $dateFormat))) }}
    {{- end }}
{{- end }}

{{- if (.Param "ShowReadingTime") -}}
    {{- $scratch.Add "meta" (slice (printf "<span>%s</span>" (i18n "read_time" .ReadingTime | default (printf "%d min" .ReadingTime)))) }}
{{- end }}

{{- if (.Param "ShowWordCount") -}}
    {{- $scratch.Add "meta" (slice (printf "<span>%s</span>" (i18n "words" .WordCount | default (printf "%d words" .WordCount)))) }}
{{- end }}

{{- if not (.Param "hideAuthor") -}}
    {{- with (partial "author.html" .) }}
        {{- $scratch.Add "meta" (slice (printf "<span>%s</span>" .)) }}
    {{- end }}
{{- end }}

{{/* Combine all meta information into a single string with separators and render it as HTML.*/}}
{{- with ($scratch.Get "meta") }}
    {{- delimit . "&nbsp;·&nbsp;" | safeHTML -}}
{{- end -}}
